th, td {
	text-align: center;
}

#table-div {
	margin: 10px 10px 10px 10px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:22px;
    height:22px;
    background:white;
    border-radius:5px;
    border:1px solid #666;
}
input[type='checkbox']:checked {
    background: #777;
}