{% extends 'base.html' %}
{% load static %}

{% block metalink %}
	<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/style.css' %}">
{% endblock %}

{% block title %}Linpack Data{% endblock %}


{% block content %}

	<div id="table-div">
		<table id="sysinfoTable" class="table table-striped table-bordered" >
			<thead>
				<tr>
					<th>MB</th>
					<th>Bios</th>
					<th>IPMI</th>
					<th>Processor</th>
					<th># DIMMS</th>
					<th>Linpack Theoretical</th>
					<th>Linpack Score</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				{% for system in systems %}
				<tr>
					<td>{{ system.motherboard_model }}</td>
					<td>{{ system.bios_date }}</td>
					<td>{{ system.ipmi_version }}</td>
					<td>{{ system.processor_info }}</td>
					<td>{{ system.total_dimm_count }}</td>
					<td>{{ system.linpack_theoretical_score }}</td>
					<td>{{ system.linpack_actual_data }}</td>
					<td>{{ system.date_added }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>




	<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/style.css' %}">


	<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'linpack_bench_app/js/linpack_db.js' %}"></script>
{% endblock %}
