{% extends 'base.html' %}
{% load static %}

{% block metalink %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/linpack_detail.css' %}">
{% endblock %}

{% block content %}
<div id="system-table-div" class="info_table">
	<h2>System Info</h2>
	<table id="systemTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>MB</th>
				<th>Processor Family</th>
				<th>Processor</th>
				<th>Processor Freq.</th>
				<th>Total Cores</th>
				<th>DIMM Size</th>
				<th>DIMM Freq.</th>
				<th>BIOS</th>
				<th>IPMI</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ system.motherboard_model }}</td>
				<td>{{ system.get_processor_family }}</td>
				<td>{{ system.processor_info }}</td>
				<td>{{ system.dimm_clock_speed }}</td>
				<td>{{ system.total_core_count }}</td>
				<td>{{ system.dimm_memory_size }}</td>
				<td>{{ system.dimm_clock_speed }}</td>
				<td>{{ system.get_bios_date }}</td>
				<td>{{ system.ipmi_version }}</td>
				<td>{{ system.get_date_created }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="dimm-table-div" class="info_table">
	<h2>DIMM Info</h2>
	<table id="dimmTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Manufacturer</th>
				<th>Part Number</th>
			</tr>
		</thead>
		<tbody>
			{% for dimm in dimms %}
				<tr>
					<td>{{ dimm.manufacturer }}</td>
					<td>{{ dimm.part_number }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div id="linpack-table-div" class="info_table">
	<h2>Linpack Info</h2>
	<table id="linpackTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tester</th>
				<th>Score</th>
				<th>Theoretical GFLOPS</th>
				<th>Expected Answer</th>
				<th>Answer</th>
				<th>Problem</th>
				<th>N</th>
				<th>NB</th>
				<th>PMAP</th>
				<th>P</th>
				<th>Q</th>
				<th>PFACT</th>
				<th>NBMIN</th>
				<th>NDIV</th>
				<th>RFACT</th>
				<th>BCAST</th>
				<th>DEPTH</th>
				<th>SWAP</th>
				<th>L1</th>
				<th>U</th>
				<th>EQUIL</th>
				<th>ALIGN</th>
				<th>HPL Block Size</th>
				<th>HPL Problem Size</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for linpack in linpacks %}
			<tr>
				<td>{{ linpack.tester_name }}</td>
				<td>{{ linpack.actual_GFLOPS }}</td>
				<td>{{ system.linpack_theoretical_score }}</td>
				<td>{{ linpack.expected_answer }}</td>
				<td>{{ linpack.answer_result }}</td>
				<td>{{ linpack.given_problem }}</td>
				<td>{{ linpack.N }}</td>
				<td>{{ linpack.NB }}</td>
				<td>{{ linpack.PMAP }}</td>
				<td>{{ linpack.P }}</td>
				<td>{{ linpack.Q }}</td>
				<td>{{ linpack.PFACT }}</td>
				<td>{{ linpack.NBMIN }}</td>
				<td>{{ linpack.NDIV }}</td>
				<td>{{ linpack.RFACT }}</td>
				<td>{{ linpack.BCAST }}</td>
				<td>{{ linpack.DEPTH }}</td>
				<td>{{ linpack.SWAP }}</td>
				<td>{{ linpack.L1 }}</td>
				<td>{{ linpack.U }}</td>
				<td>{{ linpack.EQUIL }}</td>
				<td>{{ linpack.ALIGN }}</td>
				<td>{{ system.hpl_block_size }}</td>
				<td>{{ system.hpl_problem_size }}</td>
				<td>{{ linpack.get_date_created }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
	<div id="performance_bar_chart" style="margin-left: 15%; margin-top: 3%; margin-bottom: 10%;">
	<div id="barchart_material" style="width: 1250px; height: 600px;"></div>
</div>

<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      var graph_arr = []
      graph_arr.push(['Linpack Runs', 'Score'])

      graph_arr.push(["Average", parseFloat("{{ system.get_linpack_avg_actual }}")])
      {% for linpack in linpacks %}
        graph_arr.push(["{{ forloop.counter }}: {{ linpack.tester_name }}", parseFloat("{{ linpack.get_linpack_score }}")]);
      {% endfor %}

      console.log(graph_arr)

      function drawChart() {
        var data = google.visualization.arrayToDataTable(graph_arr);

        var options = {
          chart: {
            title: 'CPU Performance',
          },
          hAxis: {
              title: 'GFLOPS'
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/linpack_detail.css' %}">

<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'linpack_bench_app/js/linpack_detail.js' %}"></script>
{% endblock %}