{% extends 'base.html' %}
{% load static %}

{% block metalink %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/linpack_detail.css' %}">
{% endblock %}

{% block title %}Linpack Runs{% endblock %}


{% block content %}

<div id="linpack-table-div" class="info_table">
	<h2>Linpack Runs</h2>
	<table id="linpackTable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>MB</th>
				<th>Tester</th>
				<th>Score</th>
				<th>Theoretical GFLOPS</th>
				<th>Expected Answer</th>
				<th>Answer</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for linpack in linpacks %}
			<tr>
				<td><a href="{% url 'linpack:detail' linpack.system.id %}">{{ linpack.system.motherboard_model }}</a></td>
				<td>{{ linpack.tester_name }}</td>
				<td>{{ linpack.get_linpack_score }} GFLOPS</td>
				<td>{{ linpack.system.linpack_theoretical_score }}</td>
				<td>{{ linpack.expected_answer }}</td>
				<td>{{ linpack.answer_result }}</td>
				<td>{{ linpack.get_date_created }}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
				<tr>
					<th class="searchFilter">MB</th>
					<th class="searchFilter">Tester</th>
					<th class="searchFilter">Score</th>
					<th class="searchFilter">Theo. GFLOPS</th>
					<th class="searchFilter">Expected Answer</th>
					<th class="searchFilter">Answer</th>
					<th class="searchFilter">Date</th>
				</tr>
			</tfoot>
	</table>


<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'linpack_bench_app/css/style.css' %}">

<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'linpack_bench_app/js/linpacks.js' %}"></script>
{% endblock %}


{% block footer %}
  <a href="{% url 'linpack:index' %}">Menu</a>
{% endblock %}